.imageGallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image {
  display: inline-block;
  height: 10vh;
  flex-basis: 24%;
  position: relative;
  margin: 10px;
}

.deleteIcon {
  position: absolute;
  display: inline-block;
  width: 4vh;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  top: 2vh;
  right: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
}

.deleteIcon:hover {
  cursor: pointer;
}